*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: Montserrat, sans-serif;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 220px 0 116px;
  background-image: url("../image/dandelions-bg.png");
  background-repeat: no-repeat;
  background-size: 790px 697px;
}


.product-card_main-title {
  font-size: 70px;
  font-style: normal;
  font-weight: normal;
  line-height: 78px;
  color: #515076;
  margin-bottom: 110px;
  text-align: center;
}

.product-card_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  margin: 0 auto;
}

.product-card {
  width: 340px;
  height: 573px;
  padding: 25px;
  background: #F7F7FA;
  box-shadow: 2px 2px 10px rgba(81, 80, 118, 0.1);
}

.product-card_img {
  width: 290px;
  height: 245px;
  margin-bottom: 25px;
}

.product-card_type {
  font-size: 12px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-bottom: 15px;
}

.product-card_title {
  font-weight: bold;
  font-size: 20px;
  color: #515076;
  margin-bottom: 10px;
}

.product-card_description {
  font-size: 13px;
  color: #515076;
  margin-bottom: 15px;
}

.product-card_composition {
  font-size: 13px;
  color: #515076;
}

.product-card_list {
  margin-top: 5px;
  margin-bottom: 20px;
}

.product-card_list-item {
  position: relative;
  font-size: 13px;
  line-height: 24px;
  color: #515076;
  list-style: none;
  padding-left: 15px;
}

.product-card_list-item::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1px solid #515076;
  border-radius: 50%;
  left: 0;
  top: 9px;
}

.product-card_price-block {
  display: flex;
  justify-content: space-between;
}

.product-card_price-text {
  font-weight: bold;
  font-size: 20px;
  color: #515076;
}

.product-card_price {
  font-size: 20px;
  color: #515076;
}
